## Application Configuration
PORT=<port where application should run>
NODE_ENV=<environment>

## CORS
CORS_ORIGIN=<cors origin>

## Database Configuration
DB_NAME=<name of the database>
DB_HOST=<host of the database>
DB_PORT=<port of the database>
DB_USER=<database username>
DB_PASSWORD=<database password>

## Secrets
JWT_TOKEN=<json web token secret key>